.navbar{
    background-color:darkblue;
}

body{
    background-color:blanchedalmond;
    /* font-size:32px; */
}

.navbar-brand img{
    width:25px;
}

.nav-link{
    color:azure;
    font-size:20px;
}

.nav-link:hover{
    color:cadetblue;

}
